.table {
  border: 1px solid #eee;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
}

.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}

.table td {
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: left;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table tbody tr:nth-child(odd) {
  background: #fff;
}

.table tbody tr:nth-child(even) {
  background: #f7f7f7;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}
